#root {
  max-width: min(100vw, 1280px);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: pink;
  width: 100%;
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
  width: fit-content;
}

nav ul li {
  display: block;
  margin-right: 50px;
}

select, input {
  border: 2px pink solid;
  border-radius: 0.5em;
  padding: 0.2em;
  margin: 0.5em 0.5em 0.65em 0.5em;
  outline: none;
  background-color: #313131;
}

.profile-card__image > img {
  object-fit: scale-down;
  max-width: 100%;
}

.profile-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.profile-form {
  border: 3px solid pink;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  padding: 1em;
}

img {
  clip-path: circle();
}

#theme-changer {
  margin-left: auto;
  margin-right: 1em;
  padding: 0.5em;
  align-self: center;
}
