#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: pink;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  display: block;
  margin-right: 50px;
}

.profile-card {
  border: 5px pink solid;
  border-radius: 1em;
  margin: 10px;
  padding: 10px;
  width: 220px;
}

.profile-cards {
  display: flex;
}

img {
  clip-path: circle();
}
